* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {background: darkgreen;}

.white-keys {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-areas: "a a a s s s d d d f f f g g g h h h j j j";
    position: fixed;
    right: 25%;
    top: 25%;
    width: 50%;
    grid-gap: 2px;
}

#a{grid-area: a}
#s{grid-area: s}
#d{grid-area: d}
#f{grid-area: f}
#g{grid-area: g}
#h{grid-area: h}
#j{grid-area: j}

.white-keys kbd {
    display: inline-block;
    background: white;
    color: black;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 20px;
    font-weight: bold;
    box-shadow: 2px 2px gray;
}

.black-keys {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-areas: ". . w w . e e . . . . t t . y y . u u . .";
    position: fixed;
    right: 25%;
    top: 25%;
    width: 50%;
}

#w {grid-area: w;}
#e {grid-area: e;}
#t {grid-area: t;}
#y {grid-area: y;}
#u {grid-area: u;}

.black-keys kbd {
    display: inline-block;
    background: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
    font-weight: bold;
    box-shadow: 2px 2px gray;
}